<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias type="Model.DTO.Member" alias="Member"/> -->
		
		<!-- 임영 YYY  -->
		<typeAlias type="Service.YYYService.GoodsListService" alias="GoodsList"/>
		<typeAlias type="Model.DTO.YYYDTO.MapLarge" alias="MapLarge"/>
		<typeAlias type="Model.DTO.YYYDTO.MapMedium" alias="MapMedium"/>
		<typeAlias type="Model.DTO.YYYDTO.MapSmall" alias="MapSmall"/>
		<typeAlias type="Model.DTO.YYYDTO.ThemeLarge" alias="ThemeLarge"/>
		<typeAlias type="Model.DTO.YYYDTO.ThemeMedium" alias="ThemeMedium"/>
		<typeAlias type="Model.DTO.YYYDTO.ThemeSmall" alias="ThemeSmall"/>
		
		
		
	</typeAliases>
</configuration>
