<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LEE-Mapper">
	<cache />
	<insert id="memberInsert" parameterType="Member">
		insert into
		member(MEMBER_NUM,MEMBER_ID,MEMBER_PW,MEMBER_NAME,MEMBER_PH,
		MEMBER_ADDR,MEMBER_EMAIL,GENDER,MEMBER_PHOTO,MEMBER_BIRTH,
		MEMBER_STATUS)
		values ('NM'|| MEMBER_NUM_seq.nextval,
		#{memberId},#{memberPw},#{memberName}, #{memberPh1}
		, #{addr},
		#{email},#{gender}, #{fileName}, #{memberBir}, '정상' )
	</insert>

	<sql id="basecolumn">
		MEMBER_NUM,MEMBER_ID,MEMBER_PW,MEMBER_NAME,MEMBER_PH,
		MEMBER_ADDR,MEMBER_EMAIL,GENDER,MEMBER_PHOTO,MEMBER_BIRTH,
		MEMBER_STATUS
	</sql>
	<sql id="basecolumnCompany">
		COMPANY_NUM, COMPANY_KIND, COMPANY_ID, COMPANY_PW,
		COMPANY_BN, COMPANY_NAME, COMPANY_CAP, COMPANY_PH, COMPANY_EMAIL,
		MANAGER_NAME, COMPANY_ADDR, COMPANY_BANK, COMPANY_ACC, COMPANY_STATUS
	</sql>
	<sql id="basecolumnDo">
		DO_NUM, HOST_NUM, DO_NAME, DO_START_DATE, DO_END_DATE,
		DO_OPEN_DATE,
		DO_CLOSE_DATE, DO_PP, DO_NOWPP, DO_DETAIL, DO_OPT_GENDER,
		DO_OPT_AGE,
		DO_STATUS
	</sql>
	<sql id="basecolumnCashin">
		CASHIN_NUM, PAY_NUM, COMPANY_NUM, CASHIN_TOTAL_PRICE,
		CASHIN_COMMISSION, CASHIN_BALANCE, CASHIN_DAYS, CASHIN_MONTH,
		CASHIN_STATUS
	</sql>
	<sql id="basecolumnBuybuy">
		BUY_NUM, DO_NUM, PAY_NUM, HOST_NUM, GOODS_NUM, COMPANY_NUM,
		MAP_L_NUM, MAP_M_NUM, MAP_S_NUM, THEME_L_NUM, THEME_M_NUM,
		THEME_S_NUM, BUY_QTY, BUY_START_DATE, BUY_END_DATE, BUY_DAYS,
		BUY_PRICE
	</sql>
	<sql id="basecolumnGoods">
		GOODS_NUM, MAP_L_NUM, MAP_M_NUM, MAP_S_NUM, THEME_L_NUM,
		THEME_M_NUM, THEME_S_NUM, GOODS_NAME, GOODS_PRICE, GOODS_DETAIL,
		GOODS_DANGER, GOODS_STATUS, GOODS_STOCK, COMPANY_NUM,
		REG_DATE
	</sql>

	<resultMap type="Member" id="baseMember">
		<id column="MEMBER_NUM" jdbcType="VARCHAR" property="memberNum" />
		<result column="MEMBER_NAME" jdbcType="VARCHAR"
			property="memberName" />
		<result column="MEMBER_BIRTH" jdbcType="TIMESTAMP"
			property="memberBir" />
		<result column="MEMBER_PH" jdbcType="BIGINT"
			property="memberPh1" />
		<result column="MEMBER_EMAIL" jdbcType="VARCHAR"
			property="email" />
		<result column="MEMBER_ADDR" jdbcType="VARCHAR" property="addr" />
		<result column="GENDER" jdbcType="VARCHAR" property="gender" />
		<result column="MEMBER_PHOTO" jdbcType="VARCHAR"
			property="fileName" />
		<result column="MEMBER_STATUS" jdbcType="VARCHAR"
			property="status" />
		<result column="MEMBER_ID" jdbcType="VARCHAR"
			property="memberId" />
		<result column="MEMBER_PW" jdbcType="VARCHAR"
			property="memberPw" />
	</resultMap>

	<resultMap type="Company" id="baseCompany">
		<id column="COMPANY_NUM" jdbcType="VARCHAR" property="companyNum" />
		<result column="COMPANY_KIND" jdbcType="VARCHAR"
			property="companyKind" />
		<result column="COMPANY_ID" jdbcType="VARCHAR"
			property="companyId" />
		<result column="COMPANY_PW" jdbcType="VARCHAR"
			property="companyPw" />
		<result column="COMPANY_BN" jdbcType="VARCHAR"
			property="companyBn" />
		<result column="COMPANY_NAME" jdbcType="VARCHAR"
			property="companyName" />
		<result column="COMPANY_CAP" jdbcType="VARCHAR"
			property="companyCap" />
		<result column="COMPANY_PH" jdbcType="BIGINT"
			property="companyPh" />
		<result column="COMPANY_EMAIL" jdbcType="VARCHAR"
			property="managerEmail" />
		<result column="MANAGER_NAME" jdbcType="VARCHAR"
			property="managerName" />
		<result column="COMPANY_ADDR" jdbcType="VARCHAR"
			property="companyAddr" />
		<result column="COMPANY_BANK" jdbcType="VARCHAR"
			property="companyBank" />
		<result column="COMPANY_ACC" jdbcType="VARCHAR"
			property="companyAcc" />
		<result column="COMPANY_STATUS" jdbcType="VARCHAR"
			property="companyStatus" />
	</resultMap>

	<resultMap type="Dodo" id="baseDo">
		<id column="DO_NUM" jdbcType="VARCHAR" property="doNum" />
		<result column="HOST_NUM" jdbcType="VARCHAR" property="hostNum" />
		<result column="DO_NAME" jdbcType="VARCHAR" property="doName" />
		<result column="DO_START_DATE" jdbcType="TIMESTAMP"
			property="startDate" />
		<result column="DO_END_DATE" jdbcType="TIMESTAMP"
			property="endDate" />
		<result column="DO_OPEN_DATE" jdbcType="TIMESTAMP"
			property="openDate" />
		<result column="DO_CLOSE_DATE" jdbcType="TIMESTAMP"
			property="closeDate" />
		<result column="DO_PP" jdbcType="BIGINT" property="doPP" />
		<result column="DO_NOWPP" jdbcType="BIGINT" property="nowPP" />
		<result column="DO_DETAIL" jdbcType="VARCHAR"
			property="doDetail" />
		<result column="DO_OPT_GENDER" jdbcType="VARCHAR"
			property="optGender" />
		<result column="DO_OPT_AGE" jdbcType="VARCHAR"
			property="optAge" />
		<result column="DO_STATUS" jdbcType="VARCHAR" property="status" />
		<result column="MEMBER_NAME" jdbcType="VARCHAR"
			property="memName" />
		<result column="MEMBER_PH" jdbcType="BIGINT" property="memPh" />
		<result column="MEMBER_PHOTO" jdbcType="VARCHAR"
			property="profile" />
		<result column="DO_IMG_NAME" jdbcType="VARCHAR"
			property="doImg" />
	</resultMap>

	<resultMap type="Model.DTO.LEEDTO.Dodo2" id="baseDo2">
		<id column="DO_NUM" jdbcType="VARCHAR" property="doNum" />
		<result column="GOODS_NUM" jdbcType="VARCHAR"
			property="goodsNum" />
		<result column="COMPANY_NUM" jdbcType="VARCHAR"
			property="companyNum" />
		<result column="GOODS_NAME" jdbcType="VARCHAR"
			property="goodsName" />
		<result column="DO_IMG_NAME" jdbcType="VARCHAR"
			property="doImage" />
		<result column="COMPANY_NAME" jdbcType="VARCHAR"
			property="companyName" />
		<result column="MAP_L_NUM" jdbcType="VARCHAR"
			property="mapLnum" />
		<result column="MAP_M_NUM" jdbcType="VARCHAR"
			property="mapMnum" />
		<result column="MAP_S_NUM" jdbcType="VARCHAR"
			property="mapSnum" />
		<result column="THEME_L_NUM" jdbcType="VARCHAR"
			property="themeLnum" />
		<result column="THEME_M_NUM" jdbcType="VARCHAR"
			property="themeMnum" />
		<result column="THEME_S_NUM" jdbcType="VARCHAR"
			property="themeSnum" />
		<result column="BUY_DAYS" jdbcType="VARCHAR"
			property="goodsDays" />
	</resultMap>

	<resultMap type="Model.DTO.LEEDTO.CashIn" id="baseCashin">
		<id column="CASHIN_NUM" jdbcType="VARCHAR" property="cashinNum" />
		<result column="PAY_NUM" jdbcType="VARCHAR" property="payNum" />
		<result column="COMPANY_NUM" jdbcType="VARCHAR"
			property="companyNum" />
		<result column="CASHIN_TOTAL_PRICE" jdbcType="BIGINT"
			property="totalPrice" />
		<result column="CASHIN_COMMISSION" jdbcType="BIGINT"
			property="commission" />
		<result column="CASHIN_BALANCE" jdbcType="BIGINT"
			property="balance" />
		<result column="CASHIN_DAYS" jdbcType="TIMESTAMP"
			property="days" />
		<result column="CASHIN_MONTH" jdbcType="TIMESTAMP"
			property="month" />
		<result column="CASHIN_STATUS" jdbcType="VARCHAR"
			property="status" />
	</resultMap>

	<resultMap type="Model.DTO.LEEDTO.Buybuy" id="baseBuybuy">
		<id column="BUY_NUM" jdbcType="VARCHAR" property="buyNum" />
		<result column="DO_NUM" jdbcType="VARCHAR" property="doNum" />
		<result column="PAY_NUM" jdbcType="VARCHAR" property="payNum" />
		<result column="HOST_NUM" jdbcType="VARCHAR" property="hostNum" />
		<result column="GOODS_NUM" jdbcType="VARCHAR"
			property="goodsNum" />
		<result column="COMPANY_NUM" jdbcType="VARCHAR"
			property="companyNum" />
		<result column="MAP_L_NUM" jdbcType="VARCHAR"
			property="mapLnum" />
		<result column="MAP_M_NUM" jdbcType="VARCHAR"
			property="mapMnum" />
		<result column="MAP_S_NUM" jdbcType="VARCHAR"
			property="mapSnum" />
		<result column="THEME_L_NUM" jdbcType="VARCHAR"
			property="themeLnum" />
		<result column="THEME_M_NUM" jdbcType="VARCHAR"
			property="themeMnum" />
		<result column="THEME_S_NUM" jdbcType="VARCHAR"
			property="themeSnum" />
		<result column="BUY_QTY" jdbcType="BIGINT" property="buyQty" />
		<result column="BUY_START_DATE" jdbcType="TIMESTAMP"
			property="startDate" />
		<result column="BUY_END_DATE" jdbcType="TIMESTAMP"
			property="endDate" />
		<result column="BUY_DAYS" jdbcType="BIGINT" property="buyDays" />
		<result column="BUY_PRICE" jdbcType="BIGINT"
			property="buyPrice" />
		<result column="COMPANY_NAME" jdbcType="VARCHAR"
			property="companyName" />
		<result column="GOODS_NAME" jdbcType="VARCHAR"
			property="goodsName" />
		<result column="DO_NAME" jdbcType="VARCHAR" property="doName" />
		<result column="do_open_date" jdbcType="TIMESTAMP"
			property="dutchDate" />
	</resultMap>

	<resultMap type="Model.DTO.LEEDTO.Goods" id="baseGoods">
		<id column="GOODS_NUM" jdbcType="VARCHAR" property="goodsNum" />
		<result column="MAP_L_NUM" jdbcType="VARCHAR"
			property="mapLnum" />
		<result column="MAP_M_NUM" jdbcType="VARCHAR"
			property="mapMnum" />
		<result column="MAP_S_NUM" jdbcType="VARCHAR"
			property="mapSnum" />
		<result column="THEME_L_NUM" jdbcType="VARCHAR"
			property="themeLnum" />
		<result column="THEME_M_NUM" jdbcType="VARCHAR"
			property="themeMnum" />
		<result column="THEME_S_NUM" jdbcType="VARCHAR"
			property="themeSnum" />
		<result column="GOODS_NAME" jdbcType="VARCHAR"
			property="goodsName" />
		<result column="GOODS_PRICE" jdbcType="BIGINT"
			property="goodsPrice" />
		<result column="GOODS_DETAIL" jdbcType="VARCHAR"
			property="goodsDetail" />
		<result column="GOODS_DANGER" jdbcType="VARCHAR"
			property="goodsDanger" />
		<result column="GOODS_STATUS" jdbcType="VARCHAR"
			property="goodsStatus" />
		<result column="GOODS_STOCK" jdbcType="BIGINT"
			property="goodsStock" />
		<result column="COMPANY_NUM" jdbcType="VARCHAR"
			property="companyNum" />
		<result column="REG_DATE" jdbcType="TIMESTAMP"
			property="goodsRegDate" />
		<result column="company_name" jdbcType="VARCHAR"
			property="companyName" />
	</resultMap>

	<select id="userCheck" parameterType="Member"
		resultMap="baseMember">
		select
		<include refid="basecolumn" />
		from member
		where member_id = #{memberId} and member_pw = #{memberPw}
	</select>
	<select id="userCheck1" parameterType="Member"
		resultMap="baseMember">
		select
		<include refid="basecolumn" />
		from member
		where member_id = #{memberId}
	</select>

	<insert id="companyInsert" parameterType="Company">
		insert into company
		(COMPANY_NUM, COMPANY_KIND,
		COMPANY_ID, COMPANY_PW,
		COMPANY_BN,
		COMPANY_NAME, COMPANY_CAP,
		COMPANY_PH, COMPANY_EMAIL,
		MANAGER_NAME,
		COMPANY_ADDR, COMPANY_BANK,
		COMPANY_ACC, COMPANY_STATUS)
		values ('CO'||
		COMPANY_NUM_seq.nextval,
		#{companyKind},#{companyId},#{companyPw},
		#{companyBn}, #{companyName},
		#{companyCap},#{companyPh},
		#{managerEmail}, #{managerName},
		#{companyAddr},#{companyBank},#{companyAcc},#{companyStatus} )
	</insert>
	<select id="companyCheck" parameterType="Company"
		resultMap="baseCompany">
		select
		<include refid="basecolumnCompany" />
		from company
		where COMPANY_ID = #{companyId} and COMPANY_PW =
		#{companyPw}
	</select>

	<select id="getDoList" parameterType="StartEndPage"
		resultMap="baseDo">
		select * from ( select rownum rn,
		<include refid="basecolumnDo" />
		from (select
		<include refid="basecolumnDo" />
		from KENDO
		order by DO_NUM desc))
		where rn &gt;= #{startRow}
		and rn &lt;=
		#{endRow}
	</select>
	<select id="getDoListCount" resultType="int">
		select count(*) from
		KENDO
	</select>
	<select id="getDoDetail" parameterType="String"
		resultMap="baseDo">
		select
		k.DO_NUM,k.HOST_NUM,DO_NAME,DO_START_DATE,DO_END_DATE,DO_OPEN_DATE,
		DO_CLOSE_DATE,DO_PP,DO_NOWPP,DO_DETAIL,DO_OPT_GENDER,DO_OPT_AGE,DO_STATUS,
		MEMBER_PH,MEMBER_PHOTO,DO_IMG_NAME
		from KENDO k, Member m, DO_IMG d
		where k.host_num = m.member_num
		and
		k.do_num = d.do_num
		and k.DO_NUM =
		#{doNum}
	</select>

	<select id="getCashList" parameterType="StartEndPage"
		resultMap="baseCashin">
		select * from ( select rownum rn,
		<include refid="basecolumnCashin" />
		from (select
		<include refid="basecolumnCashin" />
		from cashin
		order by CASHIN_DAYS desc))
		where rn &gt;= #{startRow}
		and
		rn
		&lt;=
		#{endRow}
		and CASHIN_STATUS = 'complete'
	</select>
	<select id="getCashListCount" resultType="int">
		select count(*) from
		cashin
	</select>

	<select id="getBuybuyList" parameterType="startEndPage"
		resultMap="baseBuybuy">
		select
		BUY_NUM, b.DO_NUM, b.PAY_NUM, b.HOST_NUM, b.GOODS_NUM,
		c.COMPANY_NUM, company_name, GOODS_NAME, DO_NAME,
		b.MAP_L_NUM,
		b.MAP_M_NUM, b.MAP_S_NUM,
		b.THEME_L_NUM, b.THEME_M_NUM,
		b.THEME_S_NUM,
		BUY_QTY, BUY_START_DATE,
		BUY_END_DATE, BUY_DAYS,
		BUY_PRICE, do_open_date
		from BUYBUY b,
		company c, kendo kd, goods g
		where b.company_num =
		c.company_num
		and
		b.do_num = kd.do_num
		and b.goods_num = g.goods_num
		and
		(do_status =
		'doend'
		or do_status = 'cashcomplete')
		order by do_open_date
		desc
	</select>
	<select id="getBuyListCount" resultType="int">
		select count(*) from
		BUYBUY
	</select>

	<select id="getCashListComName" parameterType="String"
		resultMap="baseCashin">
		select CASHIN_NUM, cashin.PAY_NUM, cashin.COMPANY_NUM,
		CASHIN_TOTAL_PRICE,
		CASHIN_COMMISSION, CASHIN_BALANCE, CASHIN_DAYS,
		CASHIN_MONTH,
		CASHIN_STATUS
		from cashin cashin, company com
		where
		cashin.company_num = com.company_num
		and CASHIN_STATUS = 'complete'
		and
		com.company_name = #{comName}
		order by CASHIN_DAYS desc
	</select>
	<select id="getBuybuyListComName" parameterType="String"
		resultMap="baseBuybuy">
		select
		BUY_NUM, b.DO_NUM, b.PAY_NUM, b.HOST_NUM, b.GOODS_NUM,
		c.COMPANY_NUM, company_name, GOODS_NAME, DO_NAME,
		b.MAP_L_NUM,
		b.MAP_M_NUM,
		b.MAP_S_NUM,
		b.THEME_L_NUM, b.THEME_M_NUM,
		b.THEME_S_NUM,
		BUY_QTY,
		BUY_START_DATE,
		BUY_END_DATE, BUY_DAYS,
		BUY_PRICE, do_open_date
		from BUYBUY b,
		company
		c, kendo kd, goods g
		where b.company_num =
		c.company_num
		and
		b.do_num =
		kd.do_num
		and b.goods_num = g.goods_num
		and
		company_name =
		#{comName}
		and
		(do_status = 'doend'
		or do_status =
		'cashcomplete')
		order
		by do_open_date
		desc
	</select>

	<insert id="insertCashin" parameterType="String">
		insert into cashin
		(CASHIN_NUM, PAY_NUM, COMPANY_NUM, CASHIN_TOTAL_PRICE,
		CASHIN_COMMISSION, CASHIN_BALANCE, CASHIN_DAYS, CASHIN_MONTH,
		CASHIN_STATUS)
		select
		'CI'||CASHIN_NUM_SEQ.nextval, b.PAY_NUM,
		b.COMPANY_NUM,
		BUY_PRICE, 0.5, BUY_PRICE*0.5,
		to_char(trunc(add_months(BUY_END_DATE, + 1),'mm')
		,'yy/mm/dd
		hh24:mi:ss'), BUY_END_DATE, 'complete'
		from BUYBUY b, company c, kendo
		kd
		where b.company_num = c.company_num
		and b.do_num
		= kd.do_num
		and
		do_status = 'doend'
		and company_name = #{comName}
	</insert>
	<update id="updateKendo" parameterType="String">
		UPDATE kendo k
		SET
		k.do_status = 'cashcomplete'
		WHERE k.do_status = 'doend'
		and k.do_num =
		(select b.do_num from buybuy b
		where b.company_num = (select
		c.company_num from company c
		WHERE c.company_name = #{comName}))
	</update>

	<update id="updateDoing" parameterType="String">
		UPDATE kendo
		SET do_status
		= #{doing}
		WHERE do_status = 'invited'
		and DO_CLOSE_DATE &lt;= sysdate
	</update>
	<update id="updateDoend" parameterType="String">
		UPDATE kendo
		SET do_status
		= #{doend}
		WHERE do_status = 'doing'
		and DO_END_DATE &lt;= sysdate
	</update>

	<select id="getBuyDetail" parameterType="String"
		resultMap="baseBuybuy">
		select
		<include refid="basecolumnBuybuy" />
		from BUYBUY
		where BUY_NUM = #{buyNum}
	</select>

	<select id="getGoodsDetail" parameterType="String"
		resultMap="baseGoods">
		select
		GOODS_NUM, MAP_L_NUM, MAP_M_NUM, MAP_S_NUM,
		THEME_L_NUM,
		THEME_M_NUM, THEME_S_NUM, GOODS_NAME, GOODS_PRICE,
		GOODS_DETAIL,
		GOODS_DANGER, GOODS_STATUS, GOODS_STOCK, g.COMPANY_NUM,
		company_name, REG_DATE
		from GOODS g, company c
		where g.COMPANY_NUM =
		c.COMPANY_NUM
		and GOODS_NAME = #{goodsName}
	</select>

	<select id="getDoBuyDetail" parameterType="String"
		resultMap="baseDo">
		select
		DO_NUM, k.HOST_NUM, DO_NAME, DO_START_DATE,
		DO_END_DATE,
		DO_OPEN_DATE,
		DO_CLOSE_DATE, DO_PP, DO_NOWPP, DO_DETAIL,
		DO_OPT_GENDER,
		DO_OPT_AGE,
		DO_STATUS, MEMBER_NAME,MEMBER_PH,MEMBER_PHOTO
		from kendo k,
		member m
		where k.HOST_NUM =
		m.MEMBER_NUM
		and DO_NAME =
		#{doName}
	</select>

	<select id="getDoinGoodsDetail" parameterType="String"
		resultMap="baseDo2">
		select
		k.DO_NUM,g.GOODS_NUM,c.COMPANY_NUM,company_NAME,GOODS_NAME,DO_IMG_NAME,
		b.MAP_L_NUM,b.MAP_M_NUM,b.MAP_S_NUM,b.THEME_L_NUM,b.THEME_M_NUM,
		b.THEME_S_NUM,BUY_DAYS
		from KENDO k, company c, buybuy b, goods
		g,do_img dimg
		where k.do_num = b.do_num
		and
		b.goods_num = g.goods_num
		and
		g.company_num = c.company_num
		and k.do_num = dimg.do_num
		and k.DO_NUM =
		#{doNum1}
	</select>
</mapper>